@model DaSite.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="bodycontainer">

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account</h4>
        <hr />

        @Html.ValidationSummary("", new { @class = "text-danger" })
    <!--UserName-->
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>

    <!--Country-->
        <div class="form-group">
            @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Country, new SelectList(Model.CounItems, "Value", "Text"))
            </div>
        </div>

    <!--Gender-->
        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Gender, new SelectList(Model.GenderItems, "Text", "Value"))
            </div>
        </div>

    <!--Ethnicity-->
        <div class="form-group">
            @Html.LabelFor(m => m.Ethnicity, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Ethnicity, new SelectList(Model.EthItems, "Value", "Text"))
            </div>
        </div>

    <!--Email-->
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

    <!--Password-->
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

     <!--Birth Date-->
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <!--Month-->
                @Html.DropDownListFor(m => m.Month, new SelectList(Model.MonthItems, "Value", "Text"))
                <!--Day-->
                @Html.DropDownListFor(m => m.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                <!--Year-->
                @Html.DropDownListFor(m => m.Year, Enumerable.Range(0, (1999 - 1907)).Select(i => new SelectListItem { Text = (1999 - i).ToString(), Value = (1999 - i).ToString() }))
            </div>
        </div>

    <!--Register buttton-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
